spring:
  config:
    import: 'aws-parameterstore:/doktori/dev/'
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
logging:
  file:
    name: /app/logs/chat.log
  level:
    org.hibernate.SQL: debug
app:
  cookie:
    secure: true
    same-site: None
